.main-content {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100%; 
    flex-direction: column; /* Stack components vertically on smaller screens */
  }
  