<mat-card class="currency-card">
  <mat-card-title class="card-title">CurrencyExchangePro</mat-card-title>
  
  <form [formGroup]="currencyForm">
    <mat-form-field appearance="fill" class="amount-field">
      <mat-label>Amount</mat-label>
      <input matInput [currencyMask]="{ prefix: '$ ', thousands: '.', decimal: ',' }" formControlName="amount" required>
    </mat-form-field>

    <div class="currency-row">
      <mat-form-field appearance="fill" class="currency-field">
        <mat-label>From</mat-label>
        <mat-select formControlName="fromCurrency" required>
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            <span class="currency-flag currency-flag-{{ (currency.code || '').toLowerCase() }}"></span>
            {{ currency.countryName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-icon-button  class="swap-button">
        <mat-icon>swap_horiz</mat-icon>
      </button>

      <mat-form-field appearance="fill" class="currency-field">
        <mat-label>To</mat-label>
        <mat-select formControlName="toCurrency" required>
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            <span class="currency-flag currency-flag-{{ (currency.code || '').toLowerCase() }}"></span>
            {{ currency.countryName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" class="convert-button" (click)="exchange()" *ngIf="conversionUpdated">
      Convert
    </button>

   <div *ngIf="hasEmitted">
      <h3>
        {{ resultFrom}} {{resultTo }}
      </h3> 
      <span>{{ rateInfoFrom }}</span> <br>
      <span>{{ rateInfoTo }}</span> <br>

    </div>
  </form>
</mat-card>
